/* Add any custom styles here */

/* Center the user icon and name */
.col-md-10 {
    text-align: left;
}

/* Adjust margin for name */
h5 {
    margin-top: 10px;
}

/* Add some space between sections */
section {
    margin-bottom: 20px;
}

/* Style the buttons */
.btn {
    margin-right: 10px; /* Add space between buttons */
}

/* Add pencil icon to buttons */
.btn i {
    margin-right: 5px;
}

.wd-bg-color-black {
    background-color: black;
}

.wd-Prow{
    padding-top: 50px;
}