.wd-course-navigation {
    background-color: #ffffff;
    width: 50px;
   padding-left:2px;
   
    height:fit-content;
    display: flex;
    flex-direction: column; 
    justify-content: left; /* Align items vertically in the center */
    align-items: left;
    padding-right: 0%;
    margin-right: 0%;
}

.wd-course-navigation a{
    color: #fff !important;
    /* padding-left: 0px !important;  */
    margin: 5px 0 !important;
    font-size: 16px; /* Adjusted font size */
    text-align: left;  
    align-items: left;/* Display the icon as block element */
    display: block;
    border-left: 2px;
    border-left-color: black;
    color: #f00 !important;
    padding: 5px;
    position: relative;
    display:block;
}

.react-icon-custom { 
    margin-bottom: 5px ; /* Added margin below the icon */
     margin :color= none; 
    display: block; 
    align-items: center;/* Display the icon as block element */
    font-size: 0.8cm; /* Increased icon size */
    text-align: center;
}
.wd-course-navigation a.active {
    background-color: #fff;
    color: #f00 !important;
    width:100px;
    border-left: 2px;
    border-left-color: solid black;
    
    
    
}

.text-red {
    color: #f00 !important;
    border-left-color: black;
    padding: 5px;
    position: relative;
    display:block;
}

.fa-user {
    color: #fff !important;

}
